# **Dataset Description**


1.   Pregencies : Number of pregencies taken by patient
2.   Glucose : The level glucose in the patient body
3.   BloodPressure : The level of bp in the patient body
4.   SkinThickness : The thickness of the patient's skin
5.  Insulin : The amount of insulin produced in the body
6.  BMI : Body mass index of the patient
7.  DiabetesPedigreeFunction : The rate of functionality
8.  Age : The age of the patient
9. Outcome : The prediction of diabetic or non diabetic

# **Output of the prediction is 1 or 0**
**1 for diabetic, 0 for non diabetic**

In [1]:
# Importing the required dependinces or modules
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
# Reading csv file
df = pd.read_csv('diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
# Finding the shape of the df
df.shape

(768, 9)

In [4]:
# Getting statistical values
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [5]:
# Finding for null values
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [6]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [7]:
# Getting the data and labels
X = df.drop(columns='Outcome',axis=1)
Y = df['Outcome']

In [8]:
# Data Standardization
scaler = StandardScaler()

In [9]:
scaler.fit(X)

StandardScaler()

In [10]:
Xn = scaler.transform(X)

In [11]:
# Splitting data to training and testing
X_train, X_test, Y_train, Y_test = train_test_split(Xn, Y, test_size = 0.2, stratify=Y, random_state=2)

In [12]:
# Train the  model
model = svm.SVC(kernel='linear')
model.fit(X_train,Y_train)

SVC(kernel='linear')

In [13]:
# Accuracy Score of training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.7866449511400652

In [14]:
# accuracy score on the test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.7727272727272727

In [15]:
# Predictive System
l = ['number of Pregnancies','value of Glucose','value of Bp','Skin Thickness','value of Insulin','BMI','Diabetes Pedigree Function','Age']
Xnew = []
for i in range(len(l)):
  Xnew.append(input("Enter the "+l[i]+": "))
# Converting to array
Xnewa = np.asarray(Xnew)
# Reshaping
Xres = Xnewa.reshape(1,-1)
# Converting to standard value
X = scaler.transform(Xres)
# Prediction 
pred = model.predict(X)
print("Outcome : ",end=" ")
if pred == 0:
  print("Patient doesn't have diabeties")
else:
  print("Patient have diabeties")

Enter the number of Pregnancies: 10
Enter the value of Glucose: 115
Enter the value of Bp: 0
Enter the Skin Thickness: 0
Enter the value of Insulin: 0
Enter the BMI: 34
Enter the Diabetes Pedigree Function: 0.134
Enter the Age: 29
Outcome :  Patient have diabeties

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(